.tableFrame {
  height: 400px;
  scrollbar-width: 2px;
  overflow-y: scroll;
  width: auto;
  background-color: aliceblue;
}
.table {
  background-color: aliceblue;
  font-size: small;
  font-weight: bold;
}
.table th {
  font-size: medium;
}
